.reg-title{
    padding-bottom: 10%;
    
    }
    
    .reg-btn{
        padding-top: 5%;
    }
    
    .logref a{
        padding-top: 5%;
        text-decoration: nope;
        color: teal;
    }
    
    
    